<!------------------------footer starts------------------->
<footer class="footersection" id="footerfdiv">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1" d="M0,0L48,53.3C96,107,192,213,288,218.7C384,224,480,128,576,117.3C672,107,768,181,864,213.3C960,245,1056,235,1152,213.3C1248,192,1344,160,1392,144L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  footer-div text-center">
          <div>
            <h3>ABOUT TRAVEL BUDDY</h3>
            <p>It's always fun travelling with friends. This site will help you to find your Travel mates. As of now this site works only for the trains travelling via KATPADI JN. We are looking forward to extend our data for CHENNAI CENTRAL soon.</p>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 footer-div text-center">
          <div>
            <h3>NAVIGATION LINKS</h3>
            <li><a href="#banner">Search Train</a></li>
            <li><a href="#aboutus">About</a></li>
            <li><a href="#creator">creator</a></li>
          </div>
      </div>
    </div>
    <div class="mt-5 text-center">
      <p>Copyright @2020 All rights reserved</p>
    </div>
    <div class="scrolltop float-right">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
    </div>
  </div>
</footer>

<!------------------------footer ends------------------->


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
    $('.count').counterUp({
      delay: 10,
      time: 3000
    })
    mybutton= document.getElementById("myBtn");

    window.onscroll=function(){scrollFunction()};
    function scrollFunction(){
      if(document.body.scroll>20 || document.documentElement.scrollTop>20){
        mybutton.style.display="block";
      }else{
        mybutton.style.display="none";
      }
    }
    function topFunction(){
      document.body.scrollTop=0;
      document.documentElement.scrollTop=0;
    }
    
    </script>
  </body>
</html>