<%- include('partials/header'); -%>
 <!-- ***********Navbar Starts*************** -->
 <section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img id="logo" src="/asserts/img/logo.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- *******font-awesome icon*******   -->
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#food_details">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Cab_Sharing">Cab</a>
              </li>
            <li class="nav-item">
          <a class="nav-link" href="#banner">Search Train</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#creator">Creator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contactid">Contribute</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
 </section>
 <!-- ***********Navbar Ends*************** -->
<!----------------banner setion -->
 <section id="banner">
   <div class="container">
     <div class="row">
        <div class="col-md-6">
            <p class="promo-title">Find your Travel mate</p>
            <!--Form to search the train-->
                <form action="/traindetails" method="POST" class="text-center">
                    <div class="input-group" style="margin:auto;">
                        <input  class="form-control text-center" type="number" placeholder="enter train number" name="num">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <!-- style="background-color: white; border: none" -->
                </form>
            <!--search form ends-->
            <p style="margin-top: 20px;">It's always fun travelling with friends. This site will help you to find your Travel mates. As of now this site works only for the trains travelling via KATPADI JN. We are looking forward to extend our data for CHENNAI CENTRAL soon.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img id="img" src="/asserts/img/train8.jpg">
        </div>
     </div>
   </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#fff" fill-opacity="1" d="M0,128L80,112C160,96,320,64,480,85.3C640,107,800,181,960,192C1120,203,1280,149,1360,122.7L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
</svg>
</section>
<!--banner ends-->
<!-- ===================FOOD==================== -->
<!----------------------------------Food Details--------------------------------->
<section id="food_details">
<div class="container" style="padding-top: 60px;">
    <div class="row">
        <div class="col-md-6">
          <img src="/asserts/img/food.png" width="100%">
          </div>  
      <div class="col-md-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container" style="text-align: center">
            <h1 class="display-4 font-weight-bold" style="color: #a517ba">Food on Tracks</h1>
            <p class="lead">This recomendations are made by other vitans like wahat you can  get on which station</p>
            <a href="/food"><button type="submit" class="btn btn-primary bt" >Let's Go</button></a>
          </div>
          </div>
        </div>
</div>
</section>
<!----------------------------------FOOD Details--------------------------------->
<!-- ===================FOOD==================== -->
<!----------------------------------CAB sharing--------------------------------->
<section id="Cab_Sharing" >

<div class="card" style="width: 100%; text-align: center;border: none;padding-top: 60px">
    <h1>SHARE YOUR CAB TO</h1>
    <div style="align-items: center;">
    <img src="/asserts/img/taxi.png" class="img-thumbnail" width="500" height="600" style="border: none">
  </div>
    <div class="card-body">
      
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="text-align: center">
                    <h1 class="display-8 font-weight-bold" style="color: #a517ba">BANGALORE</h1>
                    <p class="lead">This recomendations are made by other vitans like wahat you can  get on which station</p>
                    <a href="/cabtobangalore"><button type="submit" class="btn btn-primary bt" >Find Your Cab</button></a>
                  </div>
                  </div>
              </div>  
          <div class="col-md-6">
              <div class="jumbotron jumbotron-fluid">
                <div class="container" style="text-align: center">
                <h1 class="display-8 font-weight-bold" style="color: #a517ba">CHENNAI</h1>
                <p class="lead">This recomendations are made by other vitans like wahat you can  get on which station</p>
                <a href="/cabtochennai"><button type="submit" class="btn btn-primary bt" >Find Your Cab</button></a>
              </div>
              </div>
            </div>
        </div>
    </section>
    </div>
  </div>
<!----------------------------------CAB sharing--------------------------------->
<!----------------------------------TRAINS TO BANGLORE AND CHENNAI--------------------------------->
<section id="prefered_train">
<div class="card" style="width: 100%; text-align: center;border: none;">
    <h1>MOST PREFERED TRAINS TO</h1>
    <div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="text-align: center">
                    <h1 class="display-8 font-weight-bold" style="color: #a517ba">BANGALORE</h1>
                    <p class="lead">This recomendations are made by other vitans like wahat you can  get on which station</p>
                    <button type="submit" class="btn btn-primary bt" >Find Your Cab</button>
                  </div>
                  </div>
              </div>  
          <div class="col-md-6">
              <div class="jumbotron jumbotron-fluid">
                <div class="container" style="text-align: center">
                <h1 class="display-8 font-weight-bold" style="color: #a517ba">CHENNAI</h1>
                <p class="lead">This recomendations are made by other vitans like wahat you can  get on which station</p>
                <button type="submit" class="btn btn-primary bt" >Find Your Cab</button>
              </div>
              </div>
            </div>
    </div>
    </section>

    </div>
  </div>
<!----------------------------------TRAINS TO BANGLORE AND CHENNAI--------------------------------->



<!-- -------------------------------------------ABOUT US----------------------------------- -->
<section  id="aboutus">
<div class="container aboutus text-center">
  <div><h1 class="text-center font-weight-bold">ABOUT</h1></div>
  <div>
      <h3>“Friends that travel together, stay together.”</h3>
    <p>It's so boring to travel without friends. So, I created this website to make your journey fun and joyful. Travel Buddy helps you to find VITIAN's who are travelling in your train or planning to do so. You can get in touch with them in WhatsApp and book your tickets accordingly. Travell Buddy will help you make new friends while you travel. It's always safe and fun to travel with friends.</p>
    <h4>With this TRAVEL BUDDY, we wish you a safe and fun travelling.</h4>
  </div>
</div>
</section>
<!-- -------------------------------------------ABOUT US----------------------------------- -->



<!-------------------------------------Creator--------------------------------------->
 <section class="creator text-white" id="creator">
 <div class="container heading text-center">
   <h1 class="text-center font-weight-bold">CREATOR</h1>
   <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">
        <img src="/asserts/img/kd.jpg" class="img-circle rounded-circle" alt="Cinque Terre" width="100" height="100">
        <div>
        <h4 style="padding-top: 20px">Karandeep Singh</h4>
        </div>
    </div>
    <div class="card-body">
        <p>Hello there. I'm a passionate young programmer, who has experience in a couple of programming languages. I believe in solving real world problems using programming.I am looking forward to pursuing a carrier in web development</p>
    </div>
    <div class="card-footer">
      <p>Follow me on</p>
      <a href="https://github.com/KarandeepSinghCoder"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/karandeepsingh_chandi/"><i  class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/karandeep-singh-018155157"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
  </div>
</section>
<!------------------------Creator ends------------------->
<!------------------------contribute start------------------->
<section class="contactus" id="contactid">
  <div class="container heading text-center">
    <h1 class="text-center font-weight-bold">Contribute</h1>
    <p>If you are willing to Contribute to our site please fill the form.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 offset-lg-2 offset-md-2 offset-sm-1">
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="nameContributer" required placeholder="username">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" id="emailContributer" required aria-describedby="emailHelp" placeholder="Enter email">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
              
              <div class="form-group">
                 <input type="text" class="form-control" id="issueContributer"  required placeholder="Highlight the issues or a new feature">
              </div>
              <div class="form-group">
                  <textarea class="form-control" rows="3" id="comment" placeholder="How will you solve the issue"></textarea>
                </div>
                <div class="d-flex justify-content-center ">
                  <button type="submit" class="btn form-button">Submit</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</section>
<!------------------------contribute ends------------------->
<%- include('partials/footer'); -%>