*{margin: 0;padding: 0; box-sizing: border-box}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px; 
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*---------------banner section-------------*/
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
    color: white;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
#banner form button{
    margin-top: 20px;
    border-radius: 100px;
    background-color: white;
    color: #5f1782;

}

/* *************ABOUT US********** */
.aboutus{
    padding-top: 60px; 
}
.aboutus h1{
    color: #a517ba;
    margin-top: none;
}
.aboutus p{
    line-height: 30px;
}
/* *************ABOUT US ENDS********** */
.bt{
    border-style: none;
    margin-top: 20px;
    border-radius: 100px;
    background-color: #a517ba;
    color: #fff;
    font-size: 18px;    
}
.bt:hover{
    background-color: #5f1782;
    color: #fff;
}

/* **********creator********* */
.card{
    width: 50%;
    margin-top: 50px;
    color: black;
    background: transparent;
}
.creator{
    margin-top: 150px;
    width: 100%;
    padding: 50px;
}
.card{
    width: 100%;
}
.creator h1{
    color: #a517ba;
}
.card-header h3{
    margin-top: 27px;
    font-size: 50px;
}
.card-header{
    background: transparent;
}
.card-footer{
    background: transparent;
}
.card-body{
    background: transparent;
    border: none;
}
.card-footer a i{
    margin-left: 20px;
    margin-right: 20px;
    color: #a517ba;
    font-size: 40px;
}
.footersection{
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
    color: white;
    padding-bottom: 5%;
}
.footersection li{
    list-style: none;
}
.footersection li a{
    color: #fff;
}
/* ***********contribute************** */
.contactus{
    margin-top:50px; 
    margin-bottom:70px; 
    width: 100%;
    height: 50vh;
    padding-top: 80px;
    position: relative;
}
.contactus h1{
    color: #a517ba;
}
.form-button{
    color: #fff;
    background-color: transparent;

}
form:hover .form-button{
    border: 2px solid purple; 
    margin-top: 20px;
    border-radius: 100px;
    background: #fff;
    color: #5f1782;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.3);
}
/* ***********contribute************** */
.contactus{
    margin-bottom: 200px;
}
::placeholder{
    font-size: 0.85rem;
    color: #a517ba;
}
#myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
     background:  #a517ba;
     padding: 10px;
     border-radius: 10px;

}
#myBtn:hover{
    background: #5f1782;
}
/* **********page 2************ */
/* ********jumbotron start*********** */
#jumbo-page2{
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
    color: white;
    padding: none;
    margin: none;    
}
.jumbotron{
    background: transparent;
    margin: none;
    padding: none;
}
#jb-btn{
    /* display: none; */
    margin: 20px;
    border: none;
    color: #fff;
     background:  #a517ba;
     padding-top: 10px;
     border-radius: 100px;

}
#jb-btn:hover{
    background: #5f1782;
}
.text-white-j{
    color: #fff;
    opacity: 0.85;
}
#img{
    display:block;
    height: 25vw;
    width: 45vw;
    margin: 0 auto;
} 
